* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #8f9bde;
  color: #333;
  padding: 20px;
}

header {
  background-color: #2238c9;
  color: white;
  text-align: center;
  padding: 40px 20px;
  border-radius: 8px;
}

section {
  margin: 30px 0;
  background-color: #fff;
  padding: 20px;
  border-left: 5px solid #0c10e2;
  border-radius: 4px;
}

h2 {
  margin-bottom: 10px;
  color: #0c41e2;
}

ul {
  list-style: none;
}

li {
  padding: 5px 0;
}

footer {
  text-align: center;
  color: #323332;
  margin-top: 40px;
}
img {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagens Lado a Lado</title>
    <style>
        .container {
            display: flex; /* Faz as imagens ficarem lado a lado */
            justify-content: space-between; /* Espaçamento entre as imagens */
            gap: 10px; /* Espaçamento entre as imagens */
        }

        .container img {
            width: 30%; /* Definindo largura das imagens */
            height: aut
e